[submodule "sjcl"]
	path = source/sjcl
	url = https://github.com/bitwiseshiftleft/sjcl.git
[submodule "Blob.js"]
	path = source/Blob.js
	url = https://github.com/eligrey/Blob.js.git
[submodule "FileSaver.js"]
	path = source/FileSaver.js
	url = https://github.com/eligrey/FileSaver.js
[submodule "CodeMirror"]
	path = source/CodeMirror
	url = https://github.com/codemirror/CodeMirror.git
	tag = 5.3.0
