input[type="checkbox"], input[type="radio"]
{
	border: none;
	background: none;
	vertical-align: middle;
	margin: 3px 2px;
}

input[type="submit"], input[type="button"]
{
	-moz-box-shadow: INSET 1px 1px 0px #f5f5f5, INSET -1px -1px 0px #c9c9c9;
	-webkit-box-shadow: INSET 1px 1px 0px #f5f5f5, INSET -1px -1px 0px #c9c9c9;
	box-shadow: INSET 1px 1px 0px #f5f5f5, INSET -1px -1px 0px #c9c9c9;

	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0.05, #ededed ), color-stop( 1, #dfdfdf ) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background: -o-linear-gradient( rgb( 237, 237, 237 ), rgb( 223, 223, 223 ) );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dfdfdf' );
	background-color: #ededed;

	border-width: 1px;
	border-style: SOLID;
	border-left-color: #dedede;
	border-top-color: #dedede;
	border-right-color: #777777;
	border-bottom-color: #777777;

	color: #4d4d4d;
	font-family: inherit;
	font-size: 115%;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;

	height: 29px;
	padding-left: 8px;
	padding-right: 8px;
}

input[type="submit"]:hover, input[type="button"]:hover
{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e4e4e4), color-stop(1, #dbdbdb) );
	background: -moz-linear-gradient( center top, #e4e4e4 5%, #dbdbdb 100% );
	background: -o-linear-gradient( rgb( 228, 228, 228 ), rgb( 219, 219, 219 ) );	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#dbdbdb');
	background-color: #e4e4e4;

	color: #282828;
}

input[type="submit"]:active, input[type="button"]:active
{
	position: relative;
	top: 1px;
	left: 1px;

	-moz-box-shadow: INSET 1px 1px 0px #c9c9c9, INSET -1px -1px 0px #e8e8e8;
	-webkit-box-shadow: INSET 1px 1px 0px #c9c9c9, INSET -1px -1px 0px #e8e8e8;
	box-shadow: INSET 1px 1px 0px #c9c9c9, INSET -1px -1px 0px #e8e8e8;	

	border-width: 1px;
	border-style: SOLID;
	border-left-color: #777777;
	border-top-color: #777777;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
}

input[type="text"], input[type="password"]
{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e1e1e1), color-stop(1, #f6f6f6) );
	background: -moz-linear-gradient( center top, #e1e1e1 5%, #f6f6f6 100% );
	background: -o-linear-gradient( top, rgb( 225, 225, 225 ), rgb( 246, 246, 246 ) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#f6f6f6');
	background-color: #f6f6f6;

	border: 1px SOLID #d1c7ac;
	color: #333333;
	padding: 2px;
	margin: 0px;
}

textarea
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e1e1e1), color-stop(1, #f6f6f6) );
    background: -moz-linear-gradient( center top, #e1e1e1 5%, #f6f6f6 100% );
    background: -o-linear-gradient( top, rgb( 225, 225, 225 ), rgb( 246, 246, 246 ) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#f6f6f6');
    background-color: #f6f6f6;

    border: 1px SOLID #d1c7ac;
    color: #333333;
}

#holder
{
	width: 920px;
}

#header
{
	height: 35px;
	padding-top: 15px;
}

#menu
{
	position: relative;
	text-align: center;
	padding: 7px 0px;
	border-bottom: 1px SOLID #f2f2f2;
	margin-bottom: 10px;
}

#menu a:not(:last-child)
{
	background-color: #d7e5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5), color-stop(100%, #cbe0f5));
	background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
	border-top: 1px solid #abbbcc;
	border-left: 1px solid #a7b6c7;
	border-bottom: 1px solid #a1afbf;
	border-right: 1px solid #a7b6c7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	-moz-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	color: #1a3e66;
	font: normal 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 1px 5px;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	width: 150px;
}

#menu a:not(:last-child):hover
{
	background-color: #ccd9e8;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8), color-stop(100%, #c1d4e8));
	background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
	border-top: 1px solid #a1afbf;
	border-left: 1px solid #9caaba;
	border-bottom: 1px solid #96a3b3;
	border-right: 1px solid #9caaba;
	-webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
	-moz-box-shadow: inset 0 1px 0 0 #f2f2f2;
	box-shadow: inset 0 1px 0 0 #f2f2f2;
	color: #163659;
	cursor: pointer;
}

#menu a:not(:last-child):active
{
	border: 1px solid #8c98a7;
	-webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
	-moz-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
	box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
}

#options
{
	margin-top: 5px;
}

#decrypting
{
	width: 875px;
}

#new_result
{
	width: 910px;
}


/* #overlay/#popup */
#overlay
{
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	background: transparent !ie; /* clear solid background for ie */
	zoom: 1; /* required for the filters */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000)";
	z-index: 99;
}

#popup
{
	font-family: Verdana, Geneva, Arial, sans-serif;
	background-color: #FFF;
	color: #000;
	margin-left: -260px;
	margin-top: -70px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 550px;
	height: 120px;
	visibility: visible;
	z-index: 999;

	padding: 10px;

	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#popup .success
{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

#popup .url
{
	width: 538px;
	padding: 5px;
	font-size: 16px;
}

#popup .close
{
	color: #777;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	right: 5px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 5px;
}

#popup .close:after
{
  content: '✖'; /* UTF-8 symbol */
}
